::selection {
    background: #FB5607;
    color: white;
}
html,body{padding: 0; margin: 0}
body > *{
    font-family: 'General Sans', 
    sans-serif;
}
body{
    background: #f4f4f5;

    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{color: white}
a.bg-orange:hover {color: white!important;}
.bg-orange{background: #FB5607!important;}
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"%3E%3Cpath d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/%3E%3Cpath d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/%3E%3C/svg%3E')!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: var(--bs-accordion-btn-icon-transition);
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
#b-slogan h1{cursor: pointer; color: #a0a0ab;}
#b-slogan h1:hover{color: black;}



#b-slogan .col-md-3 img {
    width: 100%;
    height: auto; /* Oranı koruyarak yükseklik ayarlanır */
    object-fit: cover; /* Resmin uygun şekilde kırpılmasını sağlar */
    position: relative;
    animation: fade 1s ease-in-out; /* Animasyon 1 saniye sürecek ve yavaşça başlayıp bitişi hızlanacak */
}

#b-slogan .col-md-3 {
    position: relative; /* Konteyneri bağlamsal konumlandırma için */
    height: 100%; /* Tam yüksekliği kapla */
}

#b-slogan .img-1,
#b-slogan .img-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade 1s ease-in-out; /* Animasyon 1 saniye sürecek ve yavaşça başlayıp bitişi hızlanacak */
}

#b-slogan .img-2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade 1s ease-in-out; /* Animasyon 1 saniye sürecek ve yavaşça başlayıp bitişi hızlanacak */
}

#b-slogan .img-5 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade 1s ease-in-out; /* Animasyon 1 saniye sürecek ve yavaşça başlayıp bitişi hızlanacak */
}

#b-slogan .img-4,
#b-slogan .img-6 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade 1s ease-in-out; /* Animasyon 1 saniye sürecek ve yavaşça başlayıp bitişi hızlanacak */
}

#b-slogan h1.active {
    color: black;
}


.accordion-button:not(.collapsed)::after{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16"%3E%3Cpath d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/%3E%3Cpath d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/%3E%3C/svg%3E')!important;

}
.accordion-button:not(.collapsed){color: #FB5607!important;background: transparent!important;}

.accordion-button:focus{box-shadow: none!important;border: none!important;background: transparent!important;}


.bg-transparent{background: transparent; border: 1px solid white;}

.w-58{width: 58%!important;}
.bg-orange:hover{background-color: #0c0400;}
.bg-gray{background: white;}
.bg-dark-gray{background: #f4f4f5;}
.animate-menu-w{background: white;}
.animate-menu-w .text-white:nth-child(1){color: black!important;}
/*.animate-menu-w .text-white:nth-child(7n-1){color: white!important;}*/
.bg-gray:hover{background: #e1e1e1 !important;}
.bg-orange:hover, .bg-gray:hover{ color: white!important;}

#main-picture h1{font-size: calc(32px + 1vw);}
#header{height: 100vh;}
#header.bg-s{background: url("../assets/bg/sss.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center;}
#header.bg-w{background: url("../assets/bg/home.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center;}

#main-picture h1 span{color: #ffffff75;}
#main-menu a:hover, a:hover{color: #be4006;}
#s-slogan{background: #FB5607;}
.animate-menu-b{background: #131217;}
.animate-menu{ z-index: 1000;}

[id] {scroll-margin-top: 60px;}






/*
#delivery-humy div:nth-child(1){height: 80vh;
    overflow: hidden;}*/

    
    .hid{height: 70vh;
        overflow: hidden;}
    
    #delivery-humy .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden; /* Taşmaları gizle */
        height: 70vh; /* Kapsayıcı yüksekliği */
    }
    
    #delivery-humy .col > div {
        width: 100%; /* İç div'lerin genişliği */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #delivery-humy .col .bg-dark-gray {
        border-radius: 0.5rem; /* Köşe yuvarlama */
    }
    
    #delivery-humy .deliverybox{height: 80vh; overflow: hidden; background: #fb5607;}
    #delivery-humy .col .bg-dark-gray:nth-of-type(1) {
        height: 25vh; /* İlk div yüksekliği */
        margin-bottom: 1rem; /* Alt boşluk ekle */
    }
    
    #delivery-humy .col .bg-dark-gray:nth-of-type(2)#delivery-humy .col .bg-dark-gray:nth-of-type(3) {
        height: auto; /* İkinci div yüksekliği otomatik */
    }
    
  

    @media (max-width: 992px) {
        #delivery-humy h1 {
          font-size: 1.5rem;
        }
      
        #delivery-humy h3, #delivery-humy h4 {
          font-size: 1.2rem;
        }
      
        #delivery-humy p {
          font-size: 1rem;
        }
      
        #delivery-humy .col {
          padding: 2rem;
        }

        

      }
      
    
    

@media screen and (min-width: 1024px){
    #menu-tab {position: sticky; top: 15%; z-index: 1000; height:100vh} 
}

@media screen and (max-width: 767px){
    img.w-50{width: 25%!important;} 
    .w-58{width: 75%!important;}
    .w-58,.d-flex.w-100 a{font-size: 0.8em;}
    .d-flex.w-100 a{width: 50%;}
    #whats-humy img{max-width: 50%;}
    #footer-more .container {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: flex-start; 
        text-align: center; 
    }

    #footer-more .container .me-auto {
        margin-right: 20px; 
    }

    #footer-more .container .d-flex {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    #footer-more .container .p-2 {
        margin: 0; 
    }



}
.navbar-toggler-icon.line-orange {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(247, 90, 16, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;}
.navbar-toggler:focus{box-shadow: none!important;}









.owl-carousel .owl-item img {
    display: block;

    float: left;
    border-radius: 50px;

}
.testimonial-item.equal-height.style-6 {
    background-color: #eee;
    border-radius: 10px;
    margin: 10px;
}
.bi-star-fill{color: #fdb021; margin: 2px;}
.custom-arrow {
    padding: 10px; /* İkonun etrafındaki boşluğu artırır */
    border-radius: 50%; /* İkonu yuvarlak yapar */
    border: 1px solid #acaeaf; /* Çerçeve rengi ve kalınlığı */
    display: inline-flex; /* İçeriği hizalamak için flex kullanımı */
    align-items: center; /* Yatayda ortalar */
    justify-content: center; /* Dikeyde ortalar */
}


.w-12{width:12%}
.cell-right img{border: 2px solid #d6caab;}

.testimonial-name {
    font-weight: 600;
}
.testimonial-content.quote {
    padding: 17px 55px;
}
.et_right_sidebar #main-content .container:before{
    display: none;
}
#main-content .container {
    padding-top: 10px;
}
i.fa.fa-quote-left {
    padding: 0px 10px;
    color: #999;
}
































@keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 30px 0px;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logo_items {
    display: inline-block;
    animation: 35s slides infinite linear;
  }
  
  .logos:hover .logo_items {
    animation-play-state: paused;
  }
  
  .logo_items img{
    height: 30px;
    padding: 0 20px;
  }






  /* rounded for items */

    .custom-rounded {
        border-radius: 25px;
        border: #fff 15px solid;
    }
